<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cambiar Clave</a>
          <a class="dropdown-item" href="#">Cerrar Cesion</a>
          <a class="dropdown-item" href="#">Acerca del Software</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ventas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver cotizaciones</a>
          <a class="dropdown-item" href="#">Ver ordenes de venta</a>
          <a class="dropdown-item" href="#">Ver documentos de venta</a>
          <a class="dropdown-item" href="#">Ver ventas por cliente</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vendedores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Couta por Vendedor</a>
          <a class="dropdown-item" href="#">Perfil de Vendedores</a>
          <a class="dropdown-item" href="#">Couta por segmento de Venta</a>
          <a class="dropdown-item" href="#">Couta por Punto Venta</a>
          <a class="dropdown-item" href="#">Cuota Anual</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Almacen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nuevo productos y precios</a>
          <a class="dropdown-item" href="#">cambio de Productos</a>
          <a class="dropdown-item" href="#">Ordenes Pendientes</a>
          <a class="dropdown-item" href="#">Traslado simple</a>
          <a class="dropdown-item" href="#">Guias de remision</a>
          <a class="dropdown-item" href="#">Procesos</a>

          <a class="dropdown-item" href="#"></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Logistica
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver stock</a>
          <a class="dropdown-item" href="#">Ver productos vendidos</a>
          <a class="dropdown-item" href="#">Ver antiguedad de productos en stock</a>
          <a class="dropdown-item" href="#">Requerimienttos de compra</a>
          <a class="dropdown-item" href="#">facturas de compra</a>
          <a class="dropdown-item" href="#">Ordenes de Compra</a>
          <a class="dropdown-item" href="#">Solicitud de Compra</a>
          <a class="dropdown-item" href="#">Cotizaciones</a>

          <a class="dropdown-item" href="#">ver antiguedad de productos vendidos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Finanzas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Aprobar Creditos</a>
          <a class="dropdown-item" href="#">Aprobar utlidad</a>
          <a class="dropdown-item" href="#">Letras</a>
          <a class="dropdown-item" href="#">Retenciones Cliente</a>
          <a class="dropdown-item" href="#">Cobrar ordenes de venta</a>
          <a class="dropdown-item" href="#">Cobros pendiente por cliente</a>
          <a class="dropdown-item" href="#">Depositos</a>
          <a class="dropdown-item" href="#">Caja</a>
          <a class="dropdown-item" href="#">Prestamos</a>
          <a class="dropdown-item" href="#">Sunat</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administracion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Movimietos de Compra</a>
          <a class="dropdown-item" href="#">Kardex Tipo tres</a>
          <a class="dropdown-item" href="#">Registro de Docuemntos</a>
          <a class="dropdown-item" href="#">Patrimonio</a>
          <a class="dropdown-item" href="#">Comisiones</a>
          <a class="dropdown-item" href="#">Cambio de Dolar</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GSC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Reportes de Soporte Tecnico</a>
          <a class="dropdown-item" href="#">Garantias</a>
          <a class="dropdown-item" href="#">Ticket</a>
          <a class="dropdown-item" href="#">Reporte de Ticket</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Usuarios</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/clientes">Ver Clientes</a>
          <a class="dropdown-item" routerLink="/detalle" href="#">Seguimiento de Clientes</a>
          <a class="dropdown-item" href="#">Clientes por Vendedor</a>
          <a class="dropdown-item" href="#">Nueva Encuesta a CLiente</a>
          <a class="dropdown-item" href="#">Nuevo Entrenamiento</a>
          <a class="dropdown-item" href="#">Ver Calendario de Entrenamiento</a>
          <a class="dropdown-item" href="#">Ver Participanttes Inscritos</a>
          <a class="dropdown-item" href="#">Training Center</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

    </form>
  </div>
</nav>
